@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  font-size: 4rem;
  color: white;
  font-family: Satoshi;
  font-weight: 900;
  letter-spacing: 3px;
}

h2 {
  font-size: 3rem;
  font-family: Satoshi;
  font-weight: 900;
  letter-spacing: 3px;
}

#rounded {
  border-radius: 100%;
}

button {
  letter-spacing: 4px;
  font-weight: 800;
  font-size: 1rem;
  padding: 5px;
  padding-left: 8px;
  padding-right: 8px;
  border: solid 2px grey;
  background-color: grey;
  color: whitesmoke;
}

button:active {
  color: whitesmoke;
}

u {
  font-size: 1.5rem;
  letter-spacing: 3px;
  text-decoration: none;
  font-style: italic;
  padding: 0;
  margin: auto;
  opacity: 50%;
  text-align: left;
  width: 100%;
}
