@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Satoshi";
  src: url(./fonts/Satoshi/Satoshi-Regular.otf) f;
}

body {
  margin: 0;
  font-family: "Satoshi";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
}

ul {
  list-style: none;
  padding: 0;
  margin: auto;
}

li {
  padding: 0;
  margin: auto;
  font-size: 2em;
}
